<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            margin:auto;
            width: 50%;
            padding: 30px;
            background: bisque;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            Welcome To home page
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis, dicta, distinctio, id inventore nam nesciunt odio porro quaerat reprehenderit temporibus vel? Earum ipsum sit ut? Assumenda autem delectus dicta quasi soluta.
        </p>
    </div>
</body>
</html>